:root {
    font-size: 16px;
}
  
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.curso,
.professor,
.cursos__titulo,
.cursos__descricao,
.professores__titulo,
.professores__descricao,
.hero__titulo,
.hero__subtitulo,
.hero__botao,
.hero__75anos-imagem,
.cursos__imagem {
    transition: all 1.2s ease;
    opacity: 0;
    transform: scale(0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    flex-grow: 1;
    top: 0;
    align-items: center;
    padding-left: 30px;
    gap: 60px;
    height: 10vh;
    background-color: #fff;
    position: sticky;
    z-index: 100;
}

.cabecalho__container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    justify-content: left;
    margin-left: 170px;
    gap: clamp(1px, 4vw, 50px);
}

.cabecalho__menu {
    display: flex;
    gap: 60px;
    text-decoration: none;
    list-style: none;
}

.cabecalho__menu a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 530;
    transition: all 0.3s ease;
    display: inline-block;
    font-family: 'Noto Sans';
}

.cabecalho__menu a:hover {
    text-decoration: none;
    color: #e08413;
    transform: scale(1.1);
}

#hero {
    background: #204f88;
    scroll-margin-top: 10vh;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hero__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 999;
    padding: 20px; /* Adds internal spacing */
    min-height: 500px; /* Ensures minimum height */
}


.hero__conteudo,
.hero__75anos
.hero__container {
    z-index: 2; /* Valor maior para sobrepor */
}

.hero__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 50px;
    gap: 10px; 
    max-width: 50%;
  
}
.hero__titulo {
    font-family: 'Noto Sans';
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: 800;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    line-height: 1.2;
    width: 100%;
    max-width: 500px;
}

.hero__subtitulo {
    font-family: 'Noto Sans';
    font-size: clamp(0.2rem, 2vw, 1.5rem);
    font-weight: 600;
    color: #ffd700;
    line-height: 1.4;
    max-width: 500px;
}

.hero__descricao {
    font-family: 'Noto Sans';
    font-size: clamp(0.1rem, 2vw, 1.5rem);
    font-weight: 400;
    color: #e6e6e6;
    line-height: 1.6;
    max-width: 500px;
    margin-top: 10px;
    
}


.hero__75anos-imagem{
    align-self: center;
    width: 100%;
    max-width: 380px;
    min-width: 100px;
    height: auto;
    opacity: 0;
    transform: scale(0.8);
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.hero__botoes {

}

.hero__botao {
    padding: 16px 32px;
    font-family: 'Noto Sans';
    font-size: clamp(1rem, 2vw, 0.1rem);
    font-weight: 600;
    color: #fff;
    background: linear-gradient(45deg, #f7931a, #e08413);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: 80%;
    max-height: 100px;
}

.hero__botao:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(247, 147, 26, 0.4);
    background: linear-gradient(45deg, #e08413, #f7931a);
}

.hero__botao:active {
    transform: translateY(1px);
    box-shadow: 0 2px 10px rgba(247, 147, 26, 0.4);
}




.cursos-section {
    background: linear-gradient(45deg, #f7931a, #f1b440);
    scroll-margin-top: 10vh;
    min-height: 90vh;
    display: flex;
}

.cursos__container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 250px;
   
    
    
}

.cursos__container__textos {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
    align-items: center;

   

}

.cursos__titulo {
    text-align: justify;
    font-size: 3rem;
    color: #204f88;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: 'Noto Sans';
  
}

.cursos__descricao {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.6;
    color: white;
    font-weight: 500;
    font-family: 'Noto Sans';
    
   
}

.cursos__vitrine {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.curso {
    display: flex;
    width: 250px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
}

.curso:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}

.curso span {
    color: #204f88;
    font-family: 'Noto Sans';
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 0.5px;
    z-index: 2;
    transition: all 0.3s ease;
}

.curso:hover span {
    transform: scale(1.1);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    color: #ffffff;
    font-weight: bold;
}

.cursos__imagem {
    rotate: -50deg;
    align-self: center;
    filter: brightness(0) saturate(100%) invert(32%) sepia(14%) saturate(2074%) hue-rotate(182deg) brightness(94%) contrast(87%);
}

.curso:hover .curso__imagem {
    transform: translateX(0);
}

.professores-section {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 0vh;
    padding: 12vh 70px 12vh 70px;
    min-height: 100vh; 
    background-color: white;
}

.professores__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 70px;
}

.professores__container__textos {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    text-align: center;
    justify-content: center;
    gap: 21px;
}

.professores__vitrine {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.professor:nth-last-child(2) {
    grid-column: 2;
}

.professor {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.professor__imagem {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.professor__imagem:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.3);
}

.professores__titulo {
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-weight: 800;
    font-family: 'Noto Sans';
}

.professores__titulo::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 4px;
    background: orange;
    border-radius: 2px;
}

.professores__descricao {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
    max-width: 600px;
    margin-top: 24px;
    text-align: center;
    font-weight: 400;
    font-family: 'Noto Sans';
}

.teste {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}




@media  (max-width: 1200px) {
  .hero__botao{
    display: none;
  }
    
  .cabecalho{  
    display: flex;
    flex-grow: 1;
    width: 100%;
    align-items: center;
  
    height: 10vh;
    padding-left: 0;
    margin-left: 0;
    background-color: #fff;
    position: sticky;
    z-index: 100;
  }

  .cabecalho__container{
    margin-left: 0;
    justify-content: space-between;
    min-width: 100%;
   
    gap: clamp(0px, 4vw, 50px);
  
  }

  .cabecalho__menu{
    gap: clamp(0px, 3vw, 50px);
  }
  
  .cabecalho__container {
    margin-left: 0;
    gap: clamp(0px, 1vw, 50px);
    min-width: 100%;
    flex-wrap: wrap;
}

}